<!-- Describe task in general -->

<p>
    Знайди у списку найближче значення до запропонованого.
</p>

<p>
    Тобі дано набір значень у вигляді сету і значення, для якого потрібно знайти найближче у цьому наборі.
</p>

<p>
    Нааприклад, дано наступний набір значень: 4, 7, 10, 11, 12, 17 і потрібно знайти найближче значення до 9.
    Якщо відсортувати набір по зростанню, тоді ліворуч від 9 буде 7, а праворуч - 10. Оскільки 10 ближче до 9 ніж 7, то 10 і буде правильною відповіддю.
</p>

<p>Декілька додаткових роз'яснень:</p>
<ul>
    <li>Якщо два числа рівновіддалені від вхідного значення - обирати менше із них;</li>
    <li>Набір даних містить щонайменше одне значення (не є порожнім);</li>
    <li>Запропоноване значення вже може бути в наборі, тоді воно саме і буде відповіддю;</li>
    <li>Набір може містити як додатні, так і від'ємні значення, але це завжди цілі числа;</li>
    <li>Набір значень не сортований і містить лише унікальні значення.</li>
</ul>



<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> Два аргументи: набір значень у вигляді {% if interpreter.slug == "js-node" %}масиву{% else %}сета{% endif %}, окреме значення (int).
</p>

<p>
    <strong>Вихідні дані:</strong> Значення (Int). 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
