<!-- Describe task in general -->

<p>
    Найдите ближайшее значение к переданному. 
</p>

<p>
    Вам даны список значений в виде множества (Set) и значение, относительно которого, надо найти ближайшее.
</p>

<p>
    Например, мы имеем следующий ряд чисел: 4, 7, 10, 11, 12, 17. И нам нужно найти ближайшее значение к цифре 9. Если отсортировать этот ряд по возрастанию, то слева от 9 будет 7, а справа 10. Но 10 - находится ближе, чем 7, значит правильный ответ 10.
</p>

<p>Несколько уточнений:</p>
<ul>
    <li>Если 2 числа находятся на одинаковом расстоянии - необходимо выбрать наименьшее из них;</li>
    <li>Ряд чисел всегда не пустой, т.е. размер >= 1;</li>
    <li>Переданное значение может быть в этом ряде, а значит оно и является ответом;</li>
    <li>В ряде могут быть как положительные, так и отрицательные числа, но они всегда целые;</li>
    <li>Ряд не отсортирован и состоит из уникальных чисел.</li>
</ul>


<!-- Explain input and output values -->
<p>
    <strong>Входные данные: </strong> Два аргумента. Ряд значений в виде {% if interpreter.slug == "js-node" %}Array{% else %}set{% endif %}. Искомое значение - int
</p>

<p>
    <strong>Выходные данные: </strong> Int. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Пример:</strong>
    </p>

    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

